.signup {
  min-height: 200px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  padding:15px 10vw;
}

.signupButton {
  padding: 15px;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
  background-color: #f0fff0;
  border-radius: 5px;
  border: 1px solid #ddd;
}