.calendar {
  flex: 1;
  display: grid;
  grid-template-rows: 20px repeat(7, 10px);
  grid-template-columns: repeat(53, 10px);
  grid-gap: 1px;
  grid-auto-flow: column;
}

.weekday {
  display: none;
  grid-row: span 2;
  align-self: start;
  justify-self: end;
  font-size: 0.8rem;
  margin-top: -2px;
  padding-right: 3px;
}

.month {
  font-size: 0.8rem;
  align-self: end;
  justify-self: start;
}

.month.jan { grid-column: 1 / 5; }
.month.feb { grid-column: 5 / 9; }
.month.mar { grid-column: 9 / 13; }
.month.apr { grid-column: 13 / 17; }
.month.may { grid-column: 17 / 21; }
.month.june { grid-column: 21 / 26; }
.month.july { grid-column: 26 / 30; }
.month.aug { grid-column: 30 / 34; }
.month.sept { grid-column: 34 / 38; }
.month.oct { grid-column: 38 / 42; }
.month.nov { grid-column: 42 / 47; }
.month.dec { grid-column: 47 / 54; }

.day {
  border-radius: 1px;
  border: 1px solid #bbbbbb;
  background-color: #f8f8f8;
  font-size: 0.5rem;
}

.dark {
  background-color: #bbbbbb;
}

@media screen and (min-width: 200px) {
  .weekday { display: block; }
  .start { grid-column: 1 / 2; }
  .month.jan { grid-column: 2 / 6; }
  .month.feb { grid-column: 6 / 10; }
  .month.mar { grid-column: 10 / 15; }
  .month.apr { grid-column: 15 / 19; }
  .month.may { grid-column: 19 / 23; }
  .month.june { grid-column: 23 / 28; }
  .month.july { grid-column: 28 / 32; }
  .month.aug { grid-column: 32 / 36; }
  .month.sept { grid-column: 36 / 41; }
  .month.oct { grid-column:41 / 45; }
  .month.nov { grid-column: 45 / 49; }
  .month.dec { grid-column: 49 / 55; }
  .calendar {
    grid-template-rows: 25px repeat(7, 15px);
    grid-template-columns: 120px repeat(53, 15px);
    grid-gap: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .calendar {
    grid-template-rows: 20px repeat(7, 16px);
    grid-template-columns: 100px repeat(53, 16px);
    grid-gap: 3px;
  }
}

.fiftyfifty {
  background: rgb(255,0,4); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(255,0,4,1) 50%, rgba(30,87,153,1) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,0,4,1) 50%,rgba(30,87,153,1) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,0,4,1) 50%,rgba(30,87,153,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.active {
  border-color: #444444;
}

.day:hover[tooltip]{
  margin:0px;
  position:relative;
}
.day:hover[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 100;
}
.day:hover[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%) translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 60px;
    border-radius: 5px;
    pointer-events: none;
}
