.banner {
  background-color: #f0f0ff;
  padding: 15px 10vw;
}

form.login {
  padding: 15px 10vw;
}

form.login > div {
  padding: 10px 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input.login  {

}

input[type=submit] {

}