.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(7, 15px);
  grid-template-columns: repeat(52, 15px);
  grid-gap: 5px;
  margin: 20px;
}

.day {
  background-color: #dddddd;
}

.prod_low {
  background-color: #00ff00;
}

.prod_mid {
  background-color: #00dd00;
}

.prod_high {
  background-color: #008800;
}

.prod_max {
  background-color: #004400;
}