@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system";
}

.calendar {
  display: grid;
  grid-template-rows: 20px repeat(7, 10px);
  grid-template-columns: repeat(53, 10px);
  grid-gap: 1px;
  grid-auto-flow: column;
  margin: 5px 20px;
}

.weekday {
  display: none;
  grid-row: span 2;
  align-self: start;
  justify-self: end;
  font-size: 0.8rem;
  margin-top: -3px
}

.month {
  font-size: 0.8rem;
  align-self: end;
  justify-self: start;
}

.jan { grid-column: 1 / 5; }
.feb { grid-column: 5 / 9; }
.mar { grid-column: 9 / 13; }
.apr { grid-column: 13 / 17; }
.may { grid-column: 17 / 21; }
.june { grid-column: 21 / 26; }
.july { grid-column: 26 / 30; }
.aug { grid-column: 30 / 34; }
.sept { grid-column: 34 / 38; }
.oct { grid-column: 38 / 42; }
.nov { grid-column: 42 / 47; }
.dec { grid-column: 47 / 54; }

.day {
  border-radius: 1px;
  border: 1px solid #888888;
  background-color: #dddddd;
}

.dark {
  background-color: #bbbbbb;
}

@media screen and (min-width: 800px) {
  .weekday {
    display: block;
  }
  .start { grid-column: 1 / 2; }
  .jan { grid-column: 2 / 6; }
  .feb { grid-column: 6 / 10; }
  .mar { grid-column: 10 / 14; }
  .apr { grid-column: 14 / 18; }
  .may { grid-column: 18 / 22; }
  .june { grid-column: 22 / 27; }
  .july { grid-column: 27 / 31; }
  .aug { grid-column: 31 / 35; }
  .sept { grid-column: 35 / 39; }
  .oct { grid-column: 39 / 43; }
  .nov { grid-column: 43 / 48; }
  .dec { grid-column: 48 / 54; }
  .calendar {
    grid-template-rows: 20px repeat(7, 11px);
    grid-template-columns: 100px repeat(53, 11px);
    grid-gap: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .calendar {
    grid-template-rows: 20px repeat(7, 16px);
    grid-template-columns: 100px repeat(53, 16px);
    grid-gap: 3px;
  }
}
